:root {
  --blue-1: #e7edf3;
  --blue-2: #dde6ee;
  --blue-3: #cfd8e0;
  --blue-4: #c7d2dd;
  --blue-5: #3183c8;
  --blue-6: #1a4971;
  --gray-0: #fff;
  --gray-1: #f8f9fa;
  --gray-2: #f1f3f5;
  --gray-3: #e7ebee;
  --gray-4: #dee2e6;
  --gray-5: #cfd4da;
  --gray-6: #adb5bd;
  --gray-7: #868e96;
  --gray-8: #485056;
  --gray-9: #343a40;
  --gray-10: #21242a;
  --gray-11: #101214;
  --component-background: var(--gray-0);
  --document-background-color: var(--gray-2);
  --text-color: var(--gray-8);
  --disabled-text: var(--gray-5);
  --disabled-icon: var(--gray-5);
  --icon-color: var(--gray-7); 
  --icon-selected-color: var(--gray-8);
  --primary-button: var(--blue-5);
  --primary-button-text: var(--gray-1);
  --primary-button-hover: var(--blue-6);
  --secondary-button-text: var(--blue-5);
  --secondary-button-hover: var(--blue-6);
  --box-shadow: var(--gray-6);
  --document-box-shadow: var(--gray-7);
  --panel-background: var(--gray-1);
  --divider: var(--gray-5);
  --border: var(--gray-5);
  --border-focus: var(--blue-5);
  --modal-negative-space: rgba(0, 0, 0, 0.3);
  --header-button-hover: var(--blue-1);
  --header-background: #fff;
  /* --header-background: var(--gray-1); */
  --header-height-desktop: 48px;
  --header-height: 52px;
  --scrollbar-color: var(--gray-6);
  --tools-button-hover: var(--blue-3);
  --popup-button-hover: var(--blue-1);
  --popup-button-active: var(--blue-2);
  --thumbnail-border-active: #8ab4f8;
}

:root[data-theme="dark"] {
  --blue-1: #192530;
  --blue-2: #1B2B3A;
  --blue-3: #334250;
  --blue-4: #334758;
  --blue-5: #1A4971;
  --blue-6: #3183C8;
  --gray-0: #000000;
  --gray-1: #16181C;
  --gray-2: #21242A;
  --gray-3: #343A40;
  --gray-4: #485056;
  --gray-5: #868E96;
  --gray-6: #ADB5BD;
  --gray-7: #CFD4DA;
  --gray-8: #DEE2E6;
  --gray-9: #E7EBEE;
  --gray-10: #F1F3F5;
  --gray-11: #F8F9FA;
  --panel-background: hsl(206deg 7% 21%);
  /* --panel-background: var(--gray-3); */
  --component-background: var(--gray-2);
  --box-shadow: var(--gray-5);
  --document-box-shadow: var(--gray-5);
  --border-focus: var(--blue-6);
  --icon-color: var(--gray-6);
  --text-color: var(--gray-11);
  --disabled-text: var(--gray-4);
  --disabled-icon: var(--gray-4);
  --primary-button: var(--blue-6);
  --primary-button-text: var(--gray-11);
  --primary-button-hover: var(--blue-5);
  --secondary-button-text: var(--blue-6);
  --secondary-button-hover: var(--blue-5);
  --divider: var(--gray-4);
  --border: var(--gray-4);
  --icon-selected-color: var(--gray-8);
  --document-background-color: hsl(206deg 4% 34%);
  /* --document-background-color: var(--gray-2); */
  --modal-negative-space: rgba(0, 0, 0, 0.3);
  --header-button-hover: var(--blue-3);
  --header-background: hsl(206deg 7% 21%);
  /* --header-background: var(--gray-3); */
  --scrollbar-color: var(--gray-5);
  --tools-button-hover: hsl(206deg 5% 27%);
  /* --tools-button-hover: var(--blue-1); */
  --popup-button-hover: var(--blue-3);
  --popup-button-active: var(--blue-4);
}

@font-face {
  font-family: Lato;
  src: url(fonts/Lato-Regular.woff) format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Lato;
  src: url(fonts/Lato-Italic.woff) format("woff");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: Lato;
  src: url(fonts/Lato-Bold.woff) format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: Lato;
  src: url(fonts/Lato-BoldItalic.woff) format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: GreatVibes-Regular;
  src: url(fonts/GreatVibes-Regular.woff2) format("woff2"), url(fonts/GreatVibes-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  transition: background-color .25s ease;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar:horizontal {
  height: 7px;
}

::-webkit-scrollbar-track {
  width: 10px;
  border-radius: 10px;
  background: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #adb5bd;
  background-color: var(--scrollbar-color);
  border-top: 2px solid transparent;
}

body,
html {
  width: 100%;
  max-width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body,
button,
form,
html,
input,
label,
select,
textarea {
  font-family: Lato, sans-serif;
  color: #485056;
  color: var(--text-color);
}

button,
form,
input,
label,
select,
textarea {
  font-size: 13px;
}

@media (max-width: 640px) {
  button,
  form,
  input,
  label,
  select,
  textarea {
    font-size: 16px;
  }
}

input,
select,
textarea {
  border: 1px solid var(--border);
  border-radius: 4px;
  background: #fff;
  background: var(--component-background);
  color: #485056;
  color: var(--text-color);
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border: 1px solid var(--border-focus);
}

i {
  pointer-events: none;
  color: var(--icon-color);
}

i.disabled {
  fill: var(--disabled-icon);
}

h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 600;
  line-height: 1.2
}

h1 {
  font-size: calc(1.3rem + .6vw);
}

@media (min-width: 1200px) {
  h1 {
    font-size: 1.75rem;
  }
}

h2 {
  font-size: calc(1.275rem + .3vw);
}

@media (min-width: 1200px) {
  h2 {
    font-size: 1.5rem;
  }
}

h3 {
  font-size: calc(1.26rem + .12vw);
}

@media (min-width: 1200px) {
  h3 {
    font-size: 1.35rem;
  }
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.15rem;
}

h6 {
  font-size: 1.075rem;
}

.icon {
  width: 1rem;
  height: 1rem;
  /* width: 22px;
  height: 22px; */
  pointer-events: none;
  color: var(--icon-color);
}

.icon circle:not([fill*="#"]),
.icon path:not([fill*="#"]),
.icon polygon:not([fill*="#"]),
.icon rect:not([fill*="#"]) {
  fill: currentColor;
}

.icon:not(.disabled) path[fill=default] {
  fill: var(--icon-color)
}

.icon.disabled,
.icon.disabled path {
  fill: var(--disabled-icon);
}

.icon circle[fill=fill],
.icon circle[fill=none],
.icon path[fill=fill],
.icon path[fill=none],
.icon path[fill=stroke],
.icon polygon[fill=fill],
.icon polygon[fill=none],
.icon rect[fill=fill],
.icon rect[fill=none] {
  fill: none;
}

.button {
  padding: 0;
  border: none;
  background-color: transparent;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
  width: 32px;
  height: 32px;
  color: var(--text-color);
}

html:not([data-tabbing=true]) .button {
  outline: none;
}

.button[disabled] {
  background: none !important;
  cursor: default;
}

.PageNavOverlay .side-arrow-container .side-arrow {
  width: 16px;
  height: 16px;
  color: #fff;
}

.button[disabled] i,
.button[disabled] .icon,
.button[disabled] span {
  color: var(--disabled-icon);
}

pdf-live {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f1f3f5;
  background-color: var(--document-background-color);
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}

  pdf-live *,
  pdf-live :after,
  pdf-live :before {
    box-sizing: border-box;
  }

  pdf-live div {
    -webkit-tap-highlight-color: transparent;
  }

  pdf-live canvas,
  pdf-live div {
    user-select: none;
  }

  pdf-live input[type=text],
  pdf-live textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    user-select: text !important;
  }

  pdf-live input[type=text] {
    font-family: Lato;
  }

  .header {
    box-sizing: content-box!important;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: var(--header-height-desktop);
    background: var(--header-background);
    z-index: 3;
  }

  @media (max-width: 900px) {
    .header {
      height: var(--header-height);
    }
  }

    .header::after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background: var(--border);
    }

    .header-container {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 0 4px;
    }

      .left-panel-toggle {
        flex: 0 1 auto;
        margin: 0 6px;
        width: 32px;
        height: 32px;
      }

      .left-panel-toggle:not([disabled]):hover {
        border-radius: 50%;
        background: var(--tools-button-hover);
      }


      @media (max-width: 640px) {
        .left-panel-toggle {
          margin: 0 6px;
        }
      }

      @media (min-width: 641px) and (max-width:900px) {
        .left-panel-toggle {
          margin: 0 10px;
        }
      }

      .document-title {
        flex: 0 1 calc(100% / 3 - 32px);
        min-width: 0;
      }

      @media (max-width: 640px) {
        .document-title {
          display: none;
        }
      }

        .document-title-ellipsis {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          font-weight: bolder;
        }

      .zoom-overlay {
        flex: 1 1 calc(100% / 3);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 28px;
        margin: 0 auto;
      }

      @media (max-width: 640px) {
        .zoom-overlay {
          flex: 1 1 0;
        }
      }

        .zoom-overlay .button {
          margin: 0 1px;
          height: 100%;
        }

        .zoom-overlay .action-button {
          width: 32px;
          height: 32px;
        }

        .zoom-overlay .button:last-child {
          margin-right: 0;
        }

        .zoom-overlay .button:first-child {
          margin-left: 0;
        }

        .zoom-overlay .zoom-overlay-toggle {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          min-width: 68px;
          border-radius: 4px;
          position: relative;
          height: 100%;
          color: var(--text-color);
          margin-right: 1px;
        }

        .zoom-overlay .zoom-overlay-toggle:hover {
          background-color: var(--header-button-hover);
        }

          .zoom-overlay .zoom-overlay-toggle .textarea {
            resize: none;
            border: none;
            outline: none;
            color: inherit;
            background-color: transparent;
            font-weight: 700;
            width: 40px;
            min-width: 28px;
            text-align: right;
          }

          .zoom-overlay .zoom-overlay-toggle .button:hover {
            background: none !important;
          }

          .zoom-overlay .zoom-overlay-toggle .zoom-overlay-toggle-text {
            border-radius: 4px;
            align-items: center;
            margin-right: -8px;
            font-weight: 700;
            height: 100%;
            text-align: center;
            display: flex;
          }

            .zoom-overlay .zoom-overlay-toggle .zoom-overlay-toggle-text + .button .icon {
              width: 0.875em;
              height: 0.875em;
              /* width: 12px; */
              /* height: 12px; */
            }

      .header-nav {
        flex: 1 1 calc(100% / 3);
        display: flex;
        justify-content: flex-end;
      }

      @media (max-width: 640px) {
        .header-nav {
          flex: 0 1 auto;
        }
      }

        .header-nav .button {
          margin: 0 6px;
          width: 32px;
          height: 32px;
        }

        @media (max-width: 640px) {
          .header-nav .button {
            margin: 0 6px;
          }
        }

        @media (min-width: 641px) and (max-width:900px) {
          .header-nav .button {
            margin: 0 10px;
          }
        }

        .header-nav .button:not([disabled]):hover {
          border-radius: 50%;
          background: var(--tools-button-hover);
        }

        .header-nav [data-mode="light"] .icon-light,
        .header-nav [data-mode="dark"] .icon-dark {
          display: none;
        }

  pdf-live > .content {
    display: flex;
    flex-direction: row;
    flex: 1;
    overflow: auto;
  }

    .left-panel {
      z-index: 2;
      flex-direction: column;
      background-color: var(--panel-background);
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      overflow: hidden;
      position: fixed;
      left: 0;
      transition: transform .3s ease-in-out;
      max-width: calc(100% - 16px);
      height: calc(100% - var(--header-height-desktop));
    }

    .left-panel-closed.left-panel {
      transform: translateX(-100%);
    }

    @media (max-width: 900px) {
      .left-panel {
        height: calc(100% - var(--header-height));
      }
    }

      .left-panel .left-panel-container {
        display: flex;
        flex-direction: column;
        padding: 16px 16px 0;
        width: 251px;
        min-width: 251px;
      }

        .thumbnails-panel {
          display: flex;
          flex-direction: column;
          height: 100%;
          overflow: auto;
          -webkit-overflow-scrolling: touch;
        }

          .thumbnail {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            /* height: 200px;  */
            padding: 0 0 24px 0;
            width: 100%;
            cursor: pointer;
          }

          .thumbnail-active.thumbnail {
            pointer-events: none;
          }

              .thumbnail .thumbnail-image {
                margin: 6px 6px 0;
                box-shadow: 0 0 3px 0 var(--box-shadow);
                width: 117px;
                background-color: white;
              }

              .thumbnail-active.thumbnail .thumbnail-image {
                box-shadow: 0 0 0 6px var(--thumbnail-border-active);
              }

            .thumbnail .thumbnail-label {
              margin-top: 11px;
            }

    .page-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: hidden;
      width: 100%;
      height: 100%;
      position: relative;
      transition: all .3s ease-in-out;
    }

    .page-container-open.page-container {
      width: calc(100% - 265px);
      margin-left: 265px;
    }

      .page-container .page-view {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        width: 100%;
        overflow: auto;
        visibility: hidden;
      }

      pdf-live.document-loaded .page-view {
        visibility: visible;
      }

      .page-container .page-footer {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        visibility: hidden;
      }

      pdf-live.document-loaded .page-view + .page-footer {
        visibility: visible;
      }

        .page-container .page-foote > * {
          pointer-events: auto;
        }

        .page-nav-overlay {
          height: 32px;
          font-family: Lato;
          font-weight: 700;
          color: var(--text-color);
          display: inline-flex;
          align-items: center;
          cursor: pointer;
          opacity: .85;
          position: relative;
          left: 50%;
          transform: translateX(-50%);
          top: auto;
          margin-left: auto;
          margin-right: auto;
          background: #485056;
          border-radius: 4px;
          z-index: 0;
          bottom: 20px;
        }

        @media (max-width: 640px) {
          .page-nav-overlay {
            height: 36px;
          }
        }

          .page-nav-overlay .side-arrow-container {
            padding: 0;
            border: none;
            background-color: transparent;
            width: 24px;
            height: 24px;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 4px;
          }

            html:not([data-tabbing=true]) .page-nav-overlay .side-arrow-container {
              outline: none;
            }

            @media (max-width: 640px) {
              .page-nav-overlay .side-arrow-container {
                width: 40px;
                height: 28px;
              }
            }

            .page-nav-overlay .side-arrow-container:hover {
              background: #21242a;
            }

              .page-nav-overlay .side-arrow-container .icon {
                width: 0.875em;
                height: 0.875em;
                /* width: 16px;
                height: 16px; */
                color: #fff;
              }

          .page-nav-overlay .page-nav-form-container {
            height: 100%;
            display: flex;
            align-items: center;
          }

            .page-nav-overlay .page-nav-form-container form {
              top: -1px;
              position: relative;
              color: #fff;
              white-space: nowrap;
            }

              .page-nav-overlay .page-nav-form-container form input {
                min-width: 8px;
                padding: 0;
                border: none;
                text-align: right;
                font-family: Lato;
                font-weight: 700;
                background: transparent;
                color: #fff;
                cursor: pointer;
                outline: none;
                border-bottom: 1px solid var(--icon-color);
                border-radius: 0;
                width: 1rem;
              }

      .page-container .page {
        background-color: #fff;
        box-shadow: 0 0 2px 0 rgba(0, 0, 0, .14), 0 2px 2px 0 rgba(0, 0, 0, .12), 0 1px 3px 0 rgba(0, 0, 0, .12);
      }

        .page-container .page canvas {
          width: 100%;
        }

.zoom-menu-open.zoom-menu {
  visibility: visible;
}

.zoom-menu-closed.zoom-menu {
  visibility: hidden;
}

.zoom-menu {
  position: absolute;
  z-index: 4;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 4px;
  background: var(--component-background);
  box-shadow: 0 0 3px 0 var(--document-box-shadow);
  padding: 6px 0;
}

@media (max-height: 500px) {
  .zoom-menu {
    overflow: auto;
    max-height: 100%;
    display: block;
  }
}

  .zoom-menu .divider {
    margin: 8px;
    height: 1px;
    background: var(--divider);
    width: calc(100% - 16px);
  }

  html:not([data-tabbing=true]) .zoom-menu-item {
    outline: none;
  }

  .zoom-menu-item {
    display: flex;
    align-items: center;
    width: 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .zoom-menu-item.zoom-menu-item-selected,
  .zoom-menu-item:hover {
    background: var(--popup-button-hover) !important;
  }

  .zoom-menu-item.zoom-menu-item-selected {
    pointer-events: none;
  }

  .zoom-menu-item:not([data-value="pageWidth"]):not([data-value="pageFit"]) {
    margin: 2px 0;
    height: 24px;
    padding: 0 0 0 10px;
  }

  .zoom-menu-item[data-value="pageWidth"],
  .zoom-menu-item[data-value="pageFit"] {
    flex-direction: row;
    justify-content: flex-start;
    padding: 2px 19px 2px 6px;
  }

  .zoom-menu-item[data-value="pageWidth"] .icon,
  .zoom-menu-item[data-value="pageFit"] .icon {
    margin: 4px 8px 4px 4px;
  }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  visibility: hidden;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  background: var(--modal-negative-space);
}

.modal-show.modal {
  visibility: visible;
}

  .modal-dialog {
    display: flex;
    align-items: center;
    position: relative;
    width: auto;
    min-height: calc(100% - 1rem);
    pointer-events: none;
  }

  @media (min-width: 641px) {
    .modal-dialog {
      max-width: 500px;
      margin: 1.75rem auto;
    }
  }

    .modal-content {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
      pointer-events: auto;
      background-clip: padding-box;
      border-radius: 0.3rem;
      outline: 0;
      background: var(--component-background);
      box-shadow: 0 0 3px 0 var(--document-box-shadow);
    }

      .modal-header {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 1rem;
      }

        .modal-header h1,
        .modal-header h2,
        .modal-header h3,
        .modal-header h4,
        .modal-header h5,
        .modal-header h6 {
          margin-bottom: 0;
        }

      .modal-body {
        position: relative;
        flex: 1 1 auto;
        padding: 1rem;
      }

    .modal-footer {
      display: flex;
      flex-wrap: wrap;
      flex-shrink: 0;
      align-items: center;
      justify-content: flex-end;
      padding: 0.75rem;
    }

      .modal-footer > * {
        margin: 0.25rem;
      }

      .modal-footer .button-modal {
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 1.5;
        font-size: 1.1rem;
        padding: calc(0.75rem + 1px) calc(1.5rem + 1px);
        margin: 8px 0 0;
        width: auto;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        border-radius: 4px;
        height: 30px;
        cursor: pointer;
      }

      .modal-footer .button-modal.button-cancel {
        color: var(--secondary-button-text);
      }

      .modal-footer .button-modal.button-cancel:hover {
        color: var(--secondary-button-hover);
      }

      .modal-footer .button-modal.button-confirm {
        margin-left: 4px;
        color: var(--primary-button-text);
        font-weight: 600;
        background: var(--primary-button);
      }

      .modal-footer .button-modal.button-confirm:hover {
        background: var(--primary-button-hover);
      }

.loading {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 6;
  visibility: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--modal-negative-space);
}

.loading-show.loading {
  visibility: visible;
}

  .loading-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

    .loading-spinner {
      margin: 10px;
      border-top: 5px solid var(--border);
      border: 5px solid var(--border);
      border-top-color: var(--border-focus);
      border-radius: 50%;
      width: 54px;
      height: 54px;
      animation: spin 1.2s ease infinite;
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(1turn);
      }
    }

      .password-modal .enter {
        margin-top: 22px;
        font-size: 14px;
      }

        .password-modal .enter input {
          margin-top: 8px;
          width: 100%;
          border: none;
          outline: none;
          background-color: var(--gray-1);
          padding: 0.75rem 1rem;
        }

        .password-modal .enter input.correct {
          border-bottom: 2px solid #00a5e4;
        }

        .password-modal .enter input.wrong {
          border-bottom: 2px solid red;
        }

      .password-modal .incorrect-password {
        margin-top: 2px;
        font-size: 14px;
        color: #e00;
      }