:root {
  --pl-blue-1: #e7edf3;
  --pl-blue-2: #dde6ee;
  --pl-blue-3: #cfd8e0;
  --pl-blue-4: #c7d2dd;
  --pl-blue-5: #3183c8;
  --pl-blue-6: #1a4971;
  --pl-gray-0: #fff;
  --pl-gray-1: #f8f9fa;
  --pl-gray-2: #f1f3f5;
  --pl-gray-3: #e7ebee;
  --pl-gray-4: #dee2e6;
  --pl-gray-5: #cfd4da;
  --pl-gray-6: #adb5bd;
  --pl-gray-7: #868e96;
  --pl-gray-8: #485056;
  --pl-gray-9: #343a40;
  --pl-gray-10: #21242a;
  --pl-gray-11: #101214;
  --pl-component-background: var(--pl-gray-0);
  --pl-document-background-color: var(--pl-gray-2);
  --pl-text-color: var(--pl-gray-8);
  --pl-disabled-text: var(--pl-gray-5);
  --pl-disabled-icon: var(--pl-gray-5);
  --pl-icon-color: var(--pl-gray-7); 
  --pl-icon-selected-color: var(--pl-gray-8);
  --pl-primary-button: var(--pl-blue-5);
  --pl-primary-button-text: var(--pl-gray-1);
  --pl-primary-button-hover: var(--pl-blue-6);
  --pl-secondary-button-text: var(--pl-blue-5);
  --pl-secondary-button-hover: var(--pl-blue-6);
  --pl-box-shadow: var(--pl-gray-6);
  --pl-document-box-shadow: var(--pl-gray-7);
  --pl-panel-background: var(--pl-gray-1);
  --pl-divider: var(--pl-gray-5);
  --pl-border: var(--pl-gray-5);
  --pl-border-focus: var(--pl-blue-5);
  --pl-modal-negative-space: rgba(0, 0, 0, 0.3);
  --pl-header-button-hover: var(--pl-blue-1);
  --pl-header-background: #fff;
  /* --pl-header-background: var(--pl-gray-1); */
  --pl-header-height-desktop: 48px;
  --pl-header-height: 52px;
  --pl-scrollbar-color: var(--pl-gray-6);
  --pl-tools-button-hover: var(--pl-blue-3);
  --pl-popup-button-hover: var(--pl-blue-1);
  --pl-popup-button-active: var(--pl-blue-2);
  --pl-thumbnail-border-active: #8ab4f8;
}

:root[data-theme="dark"] {
  --pl-blue-1: #192530;
  --pl-blue-2: #1b2b3a;
  --pl-blue-3: #334250;
  --pl-blue-4: #334758;
  --pl-blue-5: #1a4971;
  --pl-blue-6: #3183c8;
  --pl-gray-0: #000000;
  --pl-gray-1: #16181c;
  --pl-gray-2: #21242a;
  --pl-gray-3: #343a40;
  --pl-gray-4: #485056;
  --pl-gray-5: #868e96;
  --pl-gray-6: #adb5bd;
  --pl-gray-7: #cfd4da;
  --pl-gray-8: #dee2e6;
  --pl-gray-9: #e7ebee;
  --pl-gray-10: #f1f3f5;
  --pl-gray-11: #f8f9fa;
  --pl-panel-background: hsl(206deg 7% 21%);
  /* --pl-panel-background: var(--pl-gray-3); */
  --pl-component-background: var(--pl-gray-2);
  --pl-box-shadow: var(--pl-gray-5);
  --pl-document-box-shadow: var(--pl-gray-5);
  --pl-border-focus: var(--pl-blue-6);
  --pl-icon-color: var(--pl-gray-6);
  --pl-text-color: var(--pl-gray-11);
  --pl-disabled-text: var(--pl-gray-4);
  --pl-disabled-icon: var(--pl-gray-4);
  --pl-primary-button: var(--pl-blue-6);
  --pl-primary-button-text: var(--pl-gray-11);
  --pl-primary-button-hover: var(--pl-blue-5);
  --pl-secondary-button-text: var(--pl-blue-6);
  --pl-secondary-button-hover: var(--pl-blue-5);
  --pl-divider: var(--pl-gray-4);
  --pl-border: var(--pl-gray-4);
  --pl-icon-selected-color: var(--pl-gray-8);
  --pl-document-background-color: hsl(206deg 4% 34%);
  /* --pl-document-background-color: var(--pl-gray-2); */
  --pl-modal-negative-space: rgba(0, 0, 0, 0.3);
  --pl-header-button-hover: var(--pl-blue-3);
  --pl-header-background: hsl(206deg 7% 21%);
  /* --pl-header-background: var(--pl-gray-3); */
  --pl-scrollbar-color: var(--pl-gray-5);
  --pl-tools-button-hover: hsl(206deg 5% 27%);
  /* --pl-tools-button-hover: var(--pl-blue-1); */
  --pl-popup-button-hover: var(--pl-blue-3);
  --pl-popup-button-active: var(--pl-blue-4);
}

* {
  transition: background-color .25s ease;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar:horizontal {
  height: 7px;
}

::-webkit-scrollbar-track {
  width: 10px;
  border-radius: 10px;
  background: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--pl-scrollbar-color);
  border-top: 2px solid transparent;
}

html,
body {
  width: 100%;
  max-width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Poppins, Helvetica, "sans-serif";
  font-size: 13px;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html[data-lang="ja"],
html[data-lang="ja"] body {
  font-family: "Noto Sans JP", YuGothic, "Yu Gothic", "Hiragino Sans", Helvetica, sans-serif;
}

@media (max-width: 900px) {
  html, body {
    font-size: 13px !important;
  }
}

@media (max-width: 640px) {
  html, body {
    font-size: 12px !important;
  }
}

body {
  color: var(--pl-text-color);
}

input,
button,
select,
optgroup,
textarea {
  font-family: inherit;
}

input,
select,
textarea {
  border: 1px solid var(--pl-border);
  border-radius: 4px;
  background: #fff;
  background: var(--pl-component-background);
  color: #485056;
  color: var(--pl-text-color);
  font-size: 1.1rem;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border: 1px solid var(--pl-border-focus);
}

i {
  pointer-events: none;
  color: var(--pl-icon-color);
}

i.disabled {
  fill: var(--pl-disabled-icon);
}

h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 600;
  line-height: 1.2
}

h1 {
  font-size: calc(1.3rem + .6vw);
}

@media (min-width: 1200px) {
  h1 {
    font-size: 1.75rem;
  }
}

h2 {
  font-size: calc(1.275rem + .3vw);
}

@media (min-width: 1200px) {
  h2 {
    font-size: 1.5rem;
  }
}

h3 {
  font-size: calc(1.26rem + .12vw);
}

@media (min-width: 1200px) {
  h3 {
    font-size: 1.35rem;
  }
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.15rem;
}

h6 {
  font-size: 1.075rem;
}

.pl-icon {
  width: 16px;
  height: 16px;
  pointer-events: none;
  color: var(--pl-icon-color);
}

.pl-icon circle:not([fill*="#"]),
.pl-icon path:not([fill*="#"]),
.pl-icon polygon:not([fill*="#"]),
.pl-icon rect:not([fill*="#"]) {
  fill: currentColor;
}

.pl-icon:not(.disabled) path[fill=default] {
  fill: var(--pl-icon-color)
}

.pl-icon.disabled,
.pl-icon.disabled path {
  fill: var(--pl-disabled-icon);
}

.pl-icon circle[fill=fill],
.pl-icon circle[fill=none],
.pl-icon path[fill=fill],
.pl-icon path[fill=none],
.pl-icon path[fill=stroke],
.pl-icon polygon[fill=fill],
.pl-icon polygon[fill=none],
.pl-icon rect[fill=fill],
.pl-icon rect[fill=none] {
  fill: none;
}

.pl-btn {
  padding: 0;
  border: none;
  background-color: transparent;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
  width: 32px;
  height: 32px;
  color: var(--pl-text-color);
}

html:not([data-tabbing=true]) .pl-btn {
  outline: none;
}

.pl-btn[disabled] {
  background: none !important;
  cursor: default;
}

.pl-btn[disabled] i,
.pl-btn[disabled] .pl-icon,
.pl-btn[disabled] span {
  color: var(--pl-disabled-icon);
}

pdf-live {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f1f3f5;
  background-color: var(--pl-document-background-color);
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}

  pdf-live *,
  pdf-live :after,
  pdf-live :before {
    box-sizing: border-box;
  }

  pdf-live div {
    -webkit-tap-highlight-color: transparent;
  }

  pdf-live canvas,
  pdf-live div {
    user-select: none;
  }

  pdf-live input[type=text],
  pdf-live textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    user-select: text !important;
  }

  .pl-header {
    box-sizing: content-box!important;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: var(--pl-header-height-desktop);
    background: var(--pl-header-background);
    z-index: 3;
  }

  @media (max-width: 900px) {
    .pl-header {
      height: var(--pl-header-height);
    }
  }

    .pl-header::after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background: var(--pl-border);
    }

    .pl-header-container {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 0 4px;
    }

      .pl-left-panel-toggle {
        flex: 0 1 auto;
        margin: 0 6px;
        width: 32px;
        height: 32px;
      }

      .pl-left-panel-toggle:not([disabled]):hover {
        border-radius: 50%;
        background: var(--pl-tools-button-hover);
      }


      @media (max-width: 640px) {
        .pl-left-panel-toggle {
          margin: 0 6px;
        }
      }

      @media (min-width: 641px) and (max-width: 900px) {
        .pl-left-panel-toggle {
          margin: 0 10px;
        }
      }

      .pl-document-title {
        flex: 0 1 calc(100% / 3 - 32px);
        min-width: 0;
      }

      @media (max-width: 640px) {
        .pl-document-title {
          display: none;
        }
      }

        .pl-document-title-ellipsis {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          font-weight: bolder;
        }

      .pl-zoom-overlay {
        flex: 1 1 calc(100% / 3);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 28px;
        margin: 0 auto;
      }

      @media (max-width: 640px) {
        .pl-zoom-overlay {
          flex: 1 1 0;
        }
      }

        .pl-zoom-overlay .pl-btn {
          margin: 0 1px;
          height: 100%;
        }

        .pl-zoom-overlay .pl-btn-action {
          width: 32px;
          height: 32px;
        }

        .pl-zoom-overlay .pl-btn:last-child {
          margin-right: 0;
        }

        .pl-zoom-overlay .pl-btn:first-child {
          margin-left: 0;
        }

        .pl-zoom-overlay .pl-zoom-overlay-toggle {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          min-width: 68px;
          border-radius: 4px;
          position: relative;
          height: 100%;
          color: var(--pl-text-color);
          margin-right: 1px;
        }

        .pl-zoom-overlay .pl-zoom-overlay-toggle:hover {
          background-color: var(--pl-header-button-hover);
        }

          .pl-zoom-overlay .pl-zoom-overlay-toggle .textarea {
            resize: none;
            border: none;
            outline: none;
            color: inherit;
            background-color: transparent;
            font-weight: 700;
            width: 40px;
            min-width: 28px;
            text-align: right;
          }

          .pl-zoom-overlay .pl-zoom-overlay-toggle .pl-btn:hover {
            background: none !important;
          }

          .pl-zoom-overlay .pl-zoom-overlay-toggle .pl-zoom-overlay-toggle-text {
            border-radius: 4px;
            align-items: center;
            margin-right: -8px;
            font-weight: 700;
            height: 100%;
            text-align: center;
            display: flex;
          }

            .pl-zoom-overlay .pl-zoom-overlay-toggle .pl-zoom-overlay-toggle-text + .pl-btn .pl-icon {
              width: 0.875em;
              height: 0.875em;
              /* width: 12px; */
              /* height: 12px; */
            }

      .pl-header-nav {
        flex: 1 1 calc(100% / 3);
        display: flex;
        justify-content: flex-end;
      }

      @media (max-width: 640px) {
        .pl-header-nav {
          flex: 0 1 auto;
        }
      }

        .pl-header-nav .pl-btn {
          margin: 0 6px;
          width: 32px;
          height: 32px;
        }

        @media (max-width: 640px) {
          .pl-header-nav .pl-btn {
            margin: 0 6px;
          }
        }

        @media (min-width: 641px) and (max-width:900px) {
          .pl-header-nav .pl-btn {
            margin: 0 10px;
          }
        }

        .pl-header-nav .pl-btn:not([disabled]):hover {
          border-radius: 50%;
          background: var(--pl-tools-button-hover);
        }

        .pl-header-nav [data-mode="light"] .pl-icon-light,
        .pl-header-nav [data-mode="dark"] .pl-icon-dark {
          display: none;
        }

  pdf-live > .pl-content {
    display: flex;
    flex-direction: row;
    flex: 1;
    overflow: auto;
  }

    .pl-left-panel {
      z-index: 2;
      flex-direction: column;
      background-color: var(--pl-panel-background);
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      overflow: hidden;
      position: fixed;
      left: 0;
      transition: transform .3s ease-in-out;
      max-width: calc(100% - 16px);
      height: calc(100% - var(--pl-header-height-desktop));
    }

    .pl-left-panel-closed.pl-left-panel {
      transform: translateX(-100%);
    }

    @media (max-width: 900px) {
      .pl-left-panel {
        height: calc(100% - var(--pl-header-height));
      }
    }

      .pl-left-panel .pl-left-panel-container {
        display: flex;
        flex-direction: column;
        padding: 16px 16px 0;
        width: 251px;
        min-width: 251px;
      }

        .pl-thumbnails-panel {
          display: flex;
          flex-direction: column;
          height: 100%;
          overflow: auto;
          -webkit-overflow-scrolling: touch;
        }

          .pl-thumbnail {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            /* height: 200px;  */
            padding: 0 0 24px 0;
            width: 100%;
            cursor: pointer;
          }

          .pl-thumbnail-active.pl-thumbnail {
            pointer-events: none;
          }

              .pl-thumbnail .pl-thumbnail-img {
                margin: 6px 6px 0;
                box-shadow: 0 0 3px 0 var(--pl-box-shadow);
                width: 117px;
                background-color: white;
              }

              .pl-thumbnail-active.pl-thumbnail .pl-thumbnail-img {
                box-shadow: 0 0 0 6px var(--pl-thumbnail-border-active);
              }

            .pl-thumbnail .pl-thumbnail-label {
              margin-top: 11px;
            }

    .pl-page-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: hidden;
      width: 100%;
      height: 100%;
      position: relative;
      transition: all .3s ease-in-out;
    }

    .pl-page-container-open.pl-page-container {
      width: calc(100% - 265px);
      margin-left: 265px;
    }

      .pl-page-container .pl-page-view {
        display: flex;
        flex-direction: column;

        /* A bug was found that when the PDF is larger than the drawing area, the horizontal position of the PDF is fixed at the center and the text cannot be seen.
          To fix this bug, the horizontal margin of the "div.pl-page element" is set to "auto" to center the PDF (2023/1/12). */
        /* align-items: center; */
        flex: 1;
        width: 100%;
        overflow: auto;
        visibility: hidden;
      }

      pdf-live.pl-document-loaded .pl-page-view {
        visibility: visible;
      }

      .pl-page-container .pl-page-footer {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        visibility: hidden;
      }

      pdf-live.pl-document-loaded .pl-page-view + .pl-page-footer {
        visibility: visible;
      }

        .pl-page-container .pl-page-footer > * {
          pointer-events: auto;
        }

        .pl-page-nav-overlay {
          height: 32px;
          font-weight: 700;
          color: var(--pl-text-color);
          display: inline-flex;
          align-items: center;
          cursor: pointer;
          opacity: .85;
          position: relative;
          left: 50%;
          transform: translateX(-50%);
          top: auto;
          margin-left: auto;
          margin-right: auto;
          background: #485056;
          border-radius: 4px;
          z-index: 0;
          bottom: 20px;
        }

        @media (max-width: 640px) {
          .pl-page-nav-overlay {
            height: 36px;
          }
        }

          .pl-page-nav-overlay .pl-btn-page {
            padding: 0;
            border: none;
            background-color: transparent;
            width: 24px;
            height: 24px;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 4px;
          }

            html:not([data-tabbing=true]) .pl-page-nav-overlay .pl-btn-page {
              outline: none;
            }

            @media (max-width: 640px) {
              .pl-page-nav-overlay .pl-btn-page {
                width: 40px;
                height: 28px;
              }
            }

            .pl-page-nav-overlay .pl-btn-page:hover {
              background: #21242a;
            }

              .pl-page-nav-overlay .pl-btn-page .pl-icon {
                width: 0.875em;
                height: 0.875em;
                /* width: 16px;
                height: 16px; */
                color: #fff;
              }

          .pl-page-nav-overlay .pl-page-nav-form-container {
            height: 100%;
            display: flex;
            align-items: center;
          }

            .pl-page-nav-overlay .pl-page-nav-form-container form {
              top: -1px;
              position: relative;
              color: #fff;
              white-space: nowrap;
            }

              .pl-page-nav-overlay .pl-page-nav-form-container form input {
                min-width: 8px;
                padding: 0;
                border: none;
                text-align: right;
                font-weight: 700;
                background: transparent;
                color: #fff;
                cursor: pointer;
                outline: none;
                border-bottom: 1px solid var(--pl-icon-color);
                border-radius: 0;
                width: 1rem;
              }

      .pl-page-container .pl-page {
        background-color: #fff;
        box-shadow: 0 0 2px 0 rgba(0, 0, 0, .14), 0 2px 2px 0 rgba(0, 0, 0, .12), 0 1px 3px 0 rgba(0, 0, 0, .12);
        margin-left: auto;
        margin-right: auto;
      }

        .pl-page-container .pl-page canvas {
          width: 100%;
        }

.pl-zoom-menu-open.pl-zoom-menu {
  visibility: visible;
}

.pl-zoom-menu-closed.pl-zoom-menu {
  visibility: hidden;
}

.pl-zoom-menu {
  position: absolute;
  z-index: 4;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 4px;
  background: var(--pl-component-background);
  box-shadow: 0 0 3px 0 var(--pl-document-box-shadow);
  padding: 6px 0;
}

@media (max-height: 500px) {
  .pl-zoom-menu {
    overflow: auto;
    max-height: 100%;
    display: block;
  }
}

  .pl-zoom-menu .pl-divider {
    margin: 8px;
    height: 1px;
    background: var(--pl-divider);
    width: calc(100% - 16px);
  }

  html:not([data-tabbing=true]) .pl-zoom-menu-item {
    outline: none;
  }

  .pl-zoom-menu-item {
    display: flex;
    align-items: center;
    width: 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: var(--pl-text-color);
  }

  .pl-zoom-menu-item.pl-zoom-menu-item-selected,
  .pl-zoom-menu-item:hover {
    background: var(--pl-popup-button-hover) !important;
  }

  .pl-zoom-menu-item.pl-zoom-menu-item-selected {
    pointer-events: none;
  }

  .pl-zoom-menu-item:not([data-value="pageWidth"]):not([data-value="pageFit"]) {
    margin: 2px 0;
    height: 24px;
    padding: 0 0 0 10px;
  }

  .pl-zoom-menu-item[data-value="pageWidth"],
  .pl-zoom-menu-item[data-value="pageFit"] {
    flex-direction: row;
    justify-content: flex-start;
    padding: 2px 19px 2px 6px;
  }

  .pl-zoom-menu-item[data-value="pageWidth"] .pl-icon,
  .pl-zoom-menu-item[data-value="pageFit"] .pl-icon {
    margin: 4px 8px 4px 4px;
  }

.pl-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  visibility: hidden;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  background: var(--pl-modal-negative-space);
}

.pl-modal-show.pl-modal {
  visibility: visible;
}

  .pl-modal-dialog {
    display: flex;
    align-items: center;
    position: relative;
    width: auto;
    min-height: calc(100% - 1rem);
    pointer-events: none;
  }

  @media (min-width: 641px) {
    .pl-modal-dialog {
      max-width: 500px;
      margin: 1.75rem auto;
    }
  }

    .pl-modal-content {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
      pointer-events: auto;
      background-clip: padding-box;
      border-radius: 0.3rem;
      outline: 0;
      background: var(--pl-component-background);
      box-shadow: 0 0 3px 0 var(--pl-document-box-shadow);
    }

      .pl-modal-header {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 1rem;
      }

        .pl-modal-header h1,
        .pl-modal-header h2,
        .pl-modal-header h3,
        .pl-modal-header h4,
        .pl-modal-header h5,
        .pl-modal-header h6 {
          margin-bottom: 0;
        }

      .pl-modal-body {
        position: relative;
        flex: 1 1 auto;
        padding: 1rem;
      }

    .pl-modal-footer {
      display: flex;
      flex-wrap: wrap;
      flex-shrink: 0;
      align-items: center;
      justify-content: flex-end;
      padding: 0.75rem;
    }

      .pl-modal-footer > * {
        margin: 0.25rem;
      }

      .pl-modal-footer .pl-btn-modal {
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 1.5;
        padding: calc(0.75rem + 1px) calc(1.5rem + 1px);
        margin: 8px 0 0;
        width: auto;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        border-radius: 4px;
        height: 30px;
        cursor: pointer;
      }

      .pl-modal-footer .pl-btn-modal.pl-btn-cancel {
        color: var(--pl-secondary-button-text);
      }

      .pl-modal-footer .pl-btn-modal.pl-btn-cancel:hover {
        color: var(--pl-secondary-button-hover);
      }

      .pl-modal-footer .pl-btn-modal.pl-btn-confirm {
        margin-left: 4px;
        color: var(--pl-primary-button-text);
        font-weight: 600;
        background: var(--pl-primary-button);
      }

      .pl-modal-footer .pl-btn-modal.pl-btn-confirm:hover {
        background: var(--pl-primary-button-hover);
      }

.pl-loading {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 6;
  visibility: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--pl-modal-negative-space);
}

.pl-loading-show.pl-loading {
  visibility: visible;
}

  .pl-loading-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

    .pl-loading-spinner {
      margin: 10px;
      border-top: 5px solid var(--pl-border);
      border: 5px solid var(--pl-border);
      border-top-color: var(--pl-border-focus);
      border-radius: 50%;
      width: 54px;
      height: 54px;
      animation: spin 1.2s ease infinite;
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(1turn);
      }
    }

      .pl-modal-password .enter {
        margin-top: 22px;
      }

        .pl-modal-password .enter input {
          margin-top: 8px;
          width: 100%;
          border: none;
          outline: none;
          background-color: var(--pl-gray-1);
          padding: 0.75rem 1rem;
        }

        .pl-modal-password .enter input.correct {
          border-bottom: 2px solid #00a5e4;
        }

        .pl-modal-password .enter input.wrong {
          border-bottom: 2px solid red;
        }

      .pl-modal-password .incorrect-password {
        margin-top: 2px;
        color: #e00;
      }